.btn-whatsapp {
  width: 100% !important;
}
.slider {
  position: relative;
  width: 100%;
  height: 500px;
  max-width: 1000px;
  margin: 0 auto;
}
.im {
  width: 100%;
  height: 50%;
}

.ime {
  width: 60%;
  height: 100%;
}
.imm {
  width: 100%;
  height: 50%;
}

.abajo-contenedor {
  display: flex;
  width: 100%;
  padding: 0 2% 0 2%;
  justify-content: end;
}

.lorem {
  font-size: 20px;
  line-height: 1.7;
  text-align: justify;
}

.informacion-casa {
  width: 72%;
  margin-right: 1%;
  height: 350px;

  border-radius: 10px;
}

.formulario-container {
  border: 1px solid rgb(193, 181, 181);
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  justify-self: end;
}
.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-enviar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-enviar:hover {
  background-color: #0056b3;
}

.whatsapp-container {
  margin-top: 1rem;
  width: 100%;
}
.actionn {
  align-items: center;
  background-color: rgb(37, 211, 102);
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 12px;
  margin-right: 12px;
  padding: 7px 8px;
  text-decoration: none;
  width: 100%;
  height: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.btn-whatsapp img {
  width: 100%;
  height: 40px;
  border-radius: 50%;
  background-color: #25d366;
  padding: 0.5rem;
}

.cone {
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.conte {
  width: 96%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  cursor: pointer;
}
* {
  box-sizing: border-box !important;
}

.slide img {
  width: 100%;
  height: 500px;
  opacity: 0;
  transition: opacity 5s ease; /* Transición más lenta */
}

.slide.active img {
  opacity: 1; /* Mostrar la imagen activa */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5em;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
