.root {
  background-color: black !important;
}

body {
  background-color: #fcfcfc;
  font-family: Hind, sans-serif !important;
}

* {
  box-sizing: border-box;
}

.jm {
  margin-top: 80px;
}

.contenedorinput {
  width: 100%;

  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}

.seleccionar {
  width: 25%;
  height: 35px;
  border: 1px solid rgb(124, 152, 167);
}
select {
  padding-left: 5px;
  border-radius: 6px;
  padding-right: 10px;
  margin-right: 10px;
}

select:focus {
  border: rgb(218, 206, 206) 2px solid;
}

.filtroinput:focus {
  transition: color 0.3s;
  outline: rgb(218, 206, 206) 2px solid;
  border: 0;
}
.action {
  align-items: center;
  background-color: rgb(37, 211, 102);
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 12px;
  margin: 0 8px 12px;
  padding: 7px 8px;
  text-decoration: none;
  width: 150px;
  height: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}
a {
  text-decoration: none;

  color: inherit;
}

.h1m {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

a:focus,
a:hover {
  outline: none;
  border: none;
}

.action2 {
  background-color: rgb(255, 85, 0);
}

.seleccionar1 {
  width: 15%;
  height: 35px;
  border: 1px solid rgb(124, 152, 167);
  margin-left: 10px;
}

.contenedorcontacto {
  width: 100%;
  height: 30%;

  box-sizing: border-box;

  display: flex;

  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  padding-top: 15px;
}
.contenedoropciones {
  width: 100%;
  height: 210px;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 0 20px 0 20px;
}

.one {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border: 1px solid rgb(203, 214, 220);

  display: flex;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);
}

.filtroinput {
  width: 15%;
  height: 33px;
  border: 1px solid rgb(124, 152, 167);
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 10px;
}
.conetendorimagen1 {
  height: 100%;
  width: 32%;
}

.filtroinput::placeholder {
  font-size: 14px;
  color: black;
}

.casa {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.contenedoropcioneshijo {
  width: 68%;
  height: 100%;
  padding: 20px;
  background-color: #fdfcfc;
}

.desde,
h1 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.lugar {
  color: #a5a5a5;
  font-size: 20px;
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: bold;
}

.ll {
  margin-left: 10px;
  width: 150px !important;
}
.jm {
  height: 46px;
  font-size: 14px;
  padding: 0 0 0 10px;

  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(124, 152, 167);
  width: 290px;

  border-radius: 8px !important;
}

.contenedordescrip {
  height: 80%;
}

.jm::placeholder {
  margin-left: 30px;
  color: rgb(142, 142, 142);
  font-weight: bold;
}

.descripcion {
  margin-top: 0;
}

.desde {
  color: grey;
}
.as {
  background-color: rgb(37, 211, 102);
  width: 100px;
  height: 30px;
  display: inline-block; /* Esto es importante para que el enlace se muestre en línea con el tamaño definido */
  text-decoration: none; /* Para quitar el subrayado predeterminado de los enlaces */
  color: white; /* Cambiar el color del texto para que sea visible sobre el fondo verde */
  text-align: center; /* Centrar el texto horizontalmente dentro del div */
  line-height: 100px; /* Ajustar la altura de línea para que el texto esté centrado verticalmente */
}

@media screen and (max-width: 600px) {
  .contenedoropciones {
    height: 230px;
    flex-direction: row;
  }
  .contenedorcontacto {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0;

    margin-top: -30px;
  }
  .action {
    width: 48%;
  }
  .jm {
    position: none;
    display: none;
  }
  .one {
    flex-direction: column;
  }
  .conetendorimagen1 {
    width: 100%;
    height: 40%;
  }
  .contenedoropcioneshijo {
    width: 100%;
    height: 60%;
  }

  .contenedoropciones {
    height: 370px;
    width: 100%;
    padding: 0 13px 0 13px;
  }
}
